body {
  margin: 0; }

body > * {
  padding: 10px;
  font-size: 20px;
  border: 20px solid rgba(149, 149, 149, 0.7); }

header, footer {
  background-color: blue;
  color: #ddd; }

main {
  border: dashed #25cc32;
  border-width: thick 40px;
  background-color: #983c3c;
  width: 60%;
  margin: 5%;
  padding: 5%; }
