*
 box-sizing: border-box

body 
 margin: 0 auto
 min-width: 1000px
 max-width: 1400px
 font:
  family: 'OpenSansLight'
  size: 10px
  weight: 300
section
 float: left
 width: 50%

aside
 float: left
 width: 30%

nav
 float: left
 width: 20%

footer
 clear: both

header, section, aside, nav, footer
 padding: 2em

/* header and footer */

header, footer
 border-top: 5px solid $primary-color
 border-bottom: 5px solid $primary-color

/* WRITE YOUR CODE BELOW HERE */
h1, h2, h3, h4, h5, h6
 line-height: 2
 letter-spacing: 0.200em
 font:
  font-family: 'ZillaSlablight'
  weight: 300 